# Box Office

Kaggle TMDB Box Office Prediction Competition 2019

Authors: Sean Trinh, Hariharan Vijayachandran

Part 1 - Process the data.

In [26]:
'''
    Process the data.
'''
import pandas as pd

train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')
train_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [27]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [28]:
to_drop = ['release_date','id','belongs_to_collection','genres','homepage','imdb_id','original_title','title','original_language','overview','popularity','poster_path','production_companies','production_countries','spoken_languages','status','tagline','Keywords','cast','crew']
for x in to_drop:
    train_df = train_df.drop(x,axis=1)
    if x!= 'revenue':
        test_df = test_df.drop(x,axis=1)

In [29]:
train_df.head()

     budget  runtime   revenue
0  14000000     93.0  12314651
1  40000000    113.0  95149435
2   3300000    105.0  13092000
3   1200000    122.0  16000000
4         0    118.0   3923970

In [30]:
train=train_df.sample(frac=0.8,random_state=200)
test=train_df.drop(train.index)

In [31]:
print(len(train))

print(len(test))

2400
600

In [32]:
import numpy as np
train = train.apply(np.log)
def f(x):
    if x<0:
        return 0
    return x
train = train.applymap(f)
train = train.fillna(0)
X = train.drop('revenue',axis = 1)
Y = train['revenue']

test = test.apply(np.log)
test = test.applymap(f)
test = test.fillna(0)
X_test =test.drop('revenue',axis = 1)
Y_test = test['revenue']

train.head()

         budget   runtime    revenue
2585   0.000000  4.418841  14.156419
2611   0.000000  4.672829  18.251453
219   14.771022  4.653960  14.967980
2204  17.504390  4.691348  17.153756
251   18.400478  4.779123  16.119826

In [33]:

def rmsle(y, y_pred):
    terms_to_sum = [(math.log(y_pred[i] + 1) - math.log(y[i] + 1)) ** 2.0 for i,pred in enumerate(y_pred)]
    return (sum(terms_to_sum) * (1.0/len(y))) ** 0.5

In [34]:
from keras import models, layers, regularizers, optimizers
model=models.Sequential()
model.add(layers.Dense(10,activation='relu',input_shape=(X.shape[1],)))
# model.add(layers.Dropout(0.1))
# model.add(layers.Dense(10,activation='relu'))
model.add(layers.Dense(1))
model.summary()
model.compile(optimizer=optimizers.rmsprop(lr=1e-100),loss='mse'
,metrics=['mean_squared_logarithmic_error'])

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 10)                30
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 11
=================================================================
Total params: 41
Trainable params: 41
Non-trainable params: 0
_________________________________________________________________

In [35]:
hist=model.fit(X,Y,epochs=40,batch_size = 32)

Epoch 1/40
2400/2400 [==============================] - 0s 111us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 2/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 3/40
2400/2400 [==============================] - 0s 28us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 4/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 5/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 6/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 7/40
2400/2400 [==============================] - 0s 28us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 8/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 9/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 10/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8020 - mean_squared_logarithmic_error: 3.3789
Epoch 11/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 12/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 13/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 14/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 15/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 16/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 17/40
2400/2400 [==============================] - 0s 28us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 18/40
2400/2400 [==============================] - 0s 28us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 19/40
2400/2400 [==============================] - 0s 28us/step - loss: 208.8020 - mean_squared_logarithmic_error: 3.3789
Epoch 20/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8020 - mean_squared_logarithmic_error: 3.3789
Epoch 21/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 22/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 23/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 24/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 25/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 26/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 27/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8020 - mean_squared_logarithmic_error: 3.3789
Epoch 28/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 29/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 30/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 31/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 32/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 33/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 34/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 35/40
2400/2400 [==============================] - 0s 26us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 36/40
2400/2400 [==============================] - 0s 28us/step - loss: 208.8020 - mean_squared_logarithmic_error: 3.3789
Epoch 37/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8020 - mean_squared_logarithmic_error: 3.3789
Epoch 38/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 39/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789
Epoch 40/40
2400/2400 [==============================] - 0s 27us/step - loss: 208.8019 - mean_squared_logarithmic_error: 3.3789

In [36]:
hist2 = model.evaluate(X_test,Y_test)
print(hist2)

600/600 [==============================] - 0s 95us/step
[211.8764404296875, 3.404631350835164]

In [45]:
from keras import models, layers, regularizers, optimizers
model=models.Sequential()
model.add(layers.Dense(10,activation='relu',input_shape=(X.shape[1],)))
# model.add(layers.Dropout(0.1))
# model.add(layers.Dense(10,activation='relu'))
model.add(layers.Dense(1))
model.summary()
model.compile(optimizer=optimizers.rmsprop(lr=1e-100),loss='mse'
,metrics=['mean_squared_logarithmic_error'])

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_13 (Dense)             (None, 10)                30
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 11
=================================================================
Total params: 41
Trainable params: 41
Non-trainable params: 0
_________________________________________________________________

In [38]:
import numpy as np
train_df = train_df.apply(np.log)
def f(x):
    if x<0:
        return 0
    return x
train_df = train_df.applymap(f)
train_df = train_df.fillna(0)
train_X = train_df.drop('revenue',axis=1)
train_Y = train_df['revenue']

test_df =test_df.applymap(f)
test_df = test_df.fillna(0)

In [46]:
hist=model.fit(train_X,train_Y,epochs=40,batch_size = 32)

Epoch 1/40
3000/3000 [==============================] - 0s 104us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 2/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 3/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 4/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 5/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 6/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 7/40
3000/3000 [==============================] - 0s 28us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 8/40
3000/3000 [==============================] - 0s 26us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 9/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 10/40
3000/3000 [==============================] - 0s 26us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 11/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 12/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 13/40
3000/3000 [==============================] - 0s 26us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 14/40
3000/3000 [==============================] - 0s 30us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 15/40
3000/3000 [==============================] - 0s 30us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 16/40
3000/3000 [==============================] - 0s 29us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 17/40
3000/3000 [==============================] - 0s 28us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 18/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 19/40
3000/3000 [==============================] - 0s 26us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 20/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 21/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 22/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 23/40
3000/3000 [==============================] - 0s 28us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 24/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 25/40
3000/3000 [==============================] - 0s 26us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 26/40
3000/3000 [==============================] - 0s 28us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 27/40
3000/3000 [==============================] - 0s 28us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 28/40
3000/3000 [==============================] - 0s 29us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 29/40
3000/3000 [==============================] - 0s 28us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 30/40
3000/3000 [==============================] - 0s 28us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 31/40
3000/3000 [==============================] - 0s 29us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 32/40
3000/3000 [==============================] - 0s 30us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 33/40
3000/3000 [==============================] - 0s 28us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 34/40
3000/3000 [==============================] - 0s 26us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 35/40
3000/3000 [==============================] - 0s 26us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 36/40
3000/3000 [==============================] - 0s 26us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 37/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 38/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 39/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389
Epoch 40/40
3000/3000 [==============================] - 0s 27us/step - loss: 602.0565 - mean_squared_logarithmic_error: 7.9389

In [47]:
output = model.predict(test_df)

In [48]:
output

array([[-8.3476440e+01],
       [-4.3330551e+04],
       [-9.2751602e+01],
       ...,
       [-7.8771970e+06],
       [-9.8465738e+05],
       [-3.1516629e+04]], dtype=float32)

In [49]:
output = np.exp(output)

In [50]:
output

array([[5.5801073e-37],
       [0.0000000e+00],
       [5.2299261e-41],
       ...,
       [0.0000000e+00],
       [0.0000000e+00],
       [0.0000000e+00]], dtype=float32)

In [83]:
test_df = pd.read_csv('./data/test.csv')

In [84]:
test_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [85]:
test_df['revenue'] = output.tolist()

In [86]:
test_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...",[5.58010725167154e-37]
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",[0.0]
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",[5.229926128553082e-41]
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de...",[0.0]
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de...",[0.0]

In [87]:
for x in to_drop:
    if x!= 'revenue'and x!='id':
        test_df = test_df.drop(x,axis=1)
test_df = test_df.drop('budget',axis=1)
test_df = test_df.drop('runtime',axis=1)

In [88]:
test_df.to_csv(r'./submission.csv',index = False)